<div class="container">
  <h2><%= @task.title %></h2>
  <p><%= @task.details %></p>
  <div class="show-checkbox">
    <p><%= @task.completed ? ("<input type='checkbox' name='nameOfChoice' value='1' checked onclick='return false;'>").html_safe : ("<input type='checkbox' name='nameOfChoice' value='1'  onclick='return false;'>").html_safe %></p>
  </div>
  <br>
  <p><i class='fas fa-edit'></i> <%= link_to "Edit this task", edit_task_path %></p>
  <br>
  <p><i class='fas fa-undo-alt'></i> <%= link_to "Back to list", root_path %></p>
</div>